body {
	font-family: "Avenir Next", "Segoe UI", "Gill Sans", Ubuntu, sans-serif !important;
}

#title {
	font-size: 2em;
	margin-top: 50px;
	margin-bottom: 0;
	text-align: center;
}

#subtitle {
	margin-top: 5px;
	margin-bottom: 40px;
	text-indent: 200px;
	font-size: 1.2em;
	text-align: center;
}

form {
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

#year {
	float: left;
	width: 49%;
}

#semester {
	float: left;
	width: 49%;
	margin-right: 2%;
}

footer {
	text-align: center;
}

#links {
	display: none;
}

@media only screen and (max-width: 768px) {
	#title {
		margin-top: 20px;
	}

	#subtitle {
		text-indent: 0;
		margin-bottom: 30px;
	}

	#ribbon {
		display: none;
	}

	#export {
		margin-top: 20px;
		width: 100%;
	}

	#links {
		display: block;
	}

	#links a {
		margin: 0 4px;
	}

	footer {
		margin-bottom: 20px;
	}
}
