<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width" />
	<title>SFU Class Schedule to iCalendar</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
	<a id="ribbon" href="https://github.com/csvenja/SFU-iCalendar">
		<img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-graphite@2x.png" alt="Fork me on GitHub" />
	</a>
	<div id="top">
		<h1 id="title">SFU Class Schedule to iCalendar</h1>
		<p id="subtitle">for iCal, Google Calendar, etc</p>
	</div>
	<div class="col-sm-offset-3 col-sm-6">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-danger fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	</div>
	<form id="main" class="form-horizontal" role="form" action="/grab" method="POST">
		<div class="form-group">
			<label for="username" class="col-sm-5 control-label">Computing ID</label>
			<div class="col-sm-3">
				<input id="username" type="text" class="form-control" name="username" placeholder="Computing ID" />
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-5 control-label">Password</label>
			<div class="col-sm-3">
				<input id="password" type="password" class="form-control" name="password" placeholder="Password" />
			</div>
		</div>
		<div class="form-group">
			<label for="term" class="col-sm-5 control-label">Term</label>
			<div class="col-sm-3">
				<input id="term" type="text" class="form-control" name="term" placeholder="e.g. 2014 Fall (leave blank for current)" />
			</div>
		</div>
		<div class="form-group">
			<label for="alert" class="col-sm-5 control-label">Alert</label>
			<div class="col-sm-3">
				<select id="alert" name="alert" class="form-control">
					<option value="">None</option>
					<option value="0">At time of event</option>
					<option value="5">5 minutes before</option>
					<option value="15">15 minutes before</option>
					<option value="30">30 minutes before</option>
					<option value="60">1 hour before</option>
					<option value="120">2 hours before</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-offset-5 col-sm-3">
				<button id="export" type="submit" class="btn btn-primary">Export</button>
			</div>
		</div>
	</form>
	<footer>
		<p>We will NOT store your password or personal information on the server.</p>
		<p><a href="https://support.google.com/calendar/answer/37118?hl=en">Guide for Google Calendar</a></p>
		<p id="links">
			<a href="https://github.com/csvenja/SFU-iCalendar">GitHub</a> · <a href="mailto:c.svenjax@gmail.com">Contact</a>
		</p>
	</footer>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-50553134-1', 'svenja.im');
	  ga('send', 'pageview');

	</script>
	<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">$(".alert").alert();</script>
</body>
</html>
